---
apiVersion: v1
kind: ConfigMap

metadata:
  name: service-values
  annotations:
    config.kubernetes.io/local-config: "true"

data:
  # --- Fields required by lib/control-plane ---
  preserveJobs: false
  tls:
    caBundleSecretName: ""

  # --- Below are VA/DT-specific data ---
  cinder-volume-ontap-secrets: |
    [ontap]
    netapp_login = _replaced_
    netapp_password = _replaced_
    netapp_vserver = _replaced_
  cinderBackup:
    customServiceConfig: |
      [DEFAULT]
      backup_driver = cinder.backup.drivers.swift.SwiftBackupDriver
    replicas: 1

  glance:
    customServiceConfig: |
      [DEFAULT]
      debug=True
    databaseInstance: openstack
    glanceAPIs:
      default:
        preserveJobs: false
        replicas: 1
        type: single

  swift:
    enabled: true

  octavia:
    enabled: true
    # Workaround for https://issues.redhat.com/browse/OSPRH-9102
    # There's a bug in uni-epsilon, the octavia-operator uploads a qcow2 image
    # to glance but a pre-tests task updates the properties of a cinder volume.
    # This update fails because the default volume type is already in use.
    amphoraImageContainerImage: ""
    apacheContainerImage: registry.redhat.io/ubi9/httpd-24:latest
    octaviaAPI:
      networkAttachments:
        - internalapi
      customServiceConfig: |
        [controller_worker]
        loadbalancer_topology=ACTIVE_STANDBY
    octaviaHousekeeping:
      networkAttachments:
        - octavia
      customServiceConfig: |
        [controller_worker]
        loadbalancer_topology=ACTIVE_STANDBY
    octaviaHealthManager:
      networkAttachments:
        - octavia
      customServiceConfig: |
        [controller_worker]
        loadbalancer_topology=ACTIVE_STANDBY
    octaviaWorker:
      networkAttachments:
        - octavia
      customServiceConfig: |
        [controller_worker]
        loadbalancer_topology=ACTIVE_STANDBY

  ovn:
    ovnController:
      nicMappings:
        datacentre: ocpbr
        octavia: octbr

  neutron:
    customServiceConfig: |
      [DEFAULT]
      vlan_transparent = true
      agent_down_time = 600
      router_distributed = true
      router_scheduler_driver = neutron.scheduler.l3_agent_scheduler.ChanceScheduler
      allow_automatic_l3agent_failover = true
      debug = true

      [agent]
      report_interval = 300

      [database]
      max_retries = -1
      db_max_retries = -1

      [keystone_authtoken]
      region_name = regionOne
      memcache_use_advanced_pool = True

      [oslo_messaging_notifications]
      driver = noop

      [oslo_middleware]
      enable_proxy_headers_parsing = true

      [oslo_policy]
      policy_file = /etc/neutron/policy.yaml

      [ovs]
      igmp_snooping_enable = true

      [ovn]
      ovsdb_probe_interval = 60000
      ovn_emit_need_to_frag = true
      ovn_router_indirect_snat = true

      [ml2]
      type_drivers = geneve,vxlan,vlan,flat,local
      tenant_network_types = geneve,flat,vlan
      path_mtu = 1400
